
body{
    background-image: url("image/OCRP_SO.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}

header {
    height: 10rem;
    width: 100%;
    color: red;
    text-align: center;
    margin: auto;
    padding: 0;
}

header img {
    display: absolute;
    z-index: 2;
    border-radius: 10px;
    width: 5;
    height: 5;
}

img#background {background-repeat: 1;}

form {
    background-color: rgba(240, 221, 26, .7);
    border: 2px ridge rgb(240, 222, 27);
    width: 50%;
    margin: auto;
}

form>div {
    padding: .5rem;
}