
body{
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjOkpCmzOfgAhUZGTQIHa-uCnsQjRx6BAgBEAU&url=https%3A%2F%2Ftwitter.com%2Fjefffavignano%2Fstatus%2F975846991145119744&psig=AOvVaw2zA0Xci000vGySVTctTBP9&ust=1551756850945916");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}

header {
    height: 10rem;
    width: 100%;
    color: red;
    text-align: center;
    margin: auto;
    padding: 0;
}

header img {
    display: absolute;
    z-index: 2;
    border-radius: 10px;
    width: 5;
    height: 5;
}

img#background {background-repeat: 1;}